<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LDC Wedding Designer{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {# <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script> #}
    <script src="{{ asset('js/animations.js') }}" defer></script>
</head>
<body>
{# <video class="video" playsinline="true" webkit-playsinline="true" preload="auto" muted="muted">
        <source src="{{ asset('img/explosion-de-couleurs.mp4') }}" type="video/mp4" />
    </video> #}
    <header>
        <img src="{{ asset('img/logo/logo3.png') }}" class="logo" alt="LDC Wedding Designer">
        <nav>
            <ul class="dosis-ul">
                <li><a href="{{ path('accueil') }}">Accueil</a></li>
                <li><a {#href="{{ path('about') }}"#}>Qui suis-je?</a></li>
                <li><a {#href="{{ path('services') }}"#}>Prestations</a></li>
                {# <li class="logo-container"><img src="{{ asset('img/logo/logo3.png') }}" class="logo" alt="LDC Wedding Designer"></li> #}
                <li><a {#href="{{ path('services') }}"#}>Inspiration</a></li>
                <li><a {#href="{{ path('services') }}"#}>Contact</a></li>
                <li><a {#href="{{ path('contact') }}"#}>Gallerie photos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 LDC Event</p>
    </footer>
</body>
</html>